@model ServiceLayer.Models.Author

@{
    ViewData["Title"] = "Create";
}

<div class="container py-5">
    <h1 class="mb-4">Create New Author</h1>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <div class="mb-3">
            <label asp-for="authorName" class="form-label">Author Name</label>
            <input asp-for="authorName" class="form-control" />
            <span asp-validation-for="authorName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Create" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
